In [1]:
import pandas as pd
import json
from urllib import request

In [2]:
ORIGINAL_URL = "https://www.sistemas.dftrans.df.gov.br/service/gps/operacoes"

In [3]:
req = request.Request(ORIGINAL_URL, method='GET')
print('Requesting on %s' % ORIGINAL_URL)

response = request.urlopen(req)
body = response.read().decode('utf-8')
body = json.loads(body)

#df = pd.DataFrame.from_records(body['Dados'], columns=body['Campos'])

Requesting on https://www.sistemas.dftrans.df.gov.br/service/gps/operacoes

In [4]:
df = pd.DataFrame()
for operadora in body:
    df_temp = pd.DataFrame.from_records(operadora['veiculos'])
    df = pd.concat([df,df_temp], ignore_index=True)

In [5]:
print(df.shape)
df.head()

(2588, 9)

,codigoImei,direcao,horario,linha,localizacao,numero,sentido,valid,velocidade
0,7324128,250.0,1573717250000,,"{'latitude': -15.89937, 'longitude': -48.12278}",333468,VOLTA,True,"{'unidade': 'KM_POR_HORA', 'valor': 0}"
1,7319233,249.0,1573920609000,,"{'latitude': -15.87006, 'longitude': -48.09042}",333824,IDA,True,"{'unidade': 'KM_POR_HORA', 'valor': 0}"
2,7490231,268.0,1573940137000,,"{'latitude': -15.81855, 'longitude': -47.98433}",331163,VOLTA,True,"{'unidade': 'KM_POR_HORA', 'valor': 11.94}"
3,7320218,270.0,1574373554000,844.1,"{'latitude': -15.79103, 'longitude': -48.03869}",333786,VOLTA,True,"{'unidade': 'KM_POR_HORA', 'valor': 1.11}"
4,7531250,37.0,1574373680000,0.882,"{'latitude': -15.89631, 'longitude': -48.04774}",332054,IDA,True,"{'unidade': 'KM_POR_HORA', 'valor': 0}"

In [6]:
df_lat_long = df.localizacao.apply(pd.Series)
df = df.merge(df_lat_long, on=df.index)

In [7]:
df.head()

,key_0,codigoImei,direcao,horario,linha,localizacao,numero,sentido,valid,velocidade,latitude,longitude
0,0,7324128,250.0,1573717250000,,"{'latitude': -15.89937, 'longitude': -48.12278}",333468,VOLTA,True,"{'unidade': 'KM_POR_HORA', 'valor': 0}",-15.89937,-48.12278
1,1,7319233,249.0,1573920609000,,"{'latitude': -15.87006, 'longitude': -48.09042}",333824,IDA,True,"{'unidade': 'KM_POR_HORA', 'valor': 0}",-15.87006,-48.09042
2,2,7490231,268.0,1573940137000,,"{'latitude': -15.81855, 'longitude': -47.98433}",331163,VOLTA,True,"{'unidade': 'KM_POR_HORA', 'valor': 11.94}",-15.81855,-47.98433
3,3,7320218,270.0,1574373554000,844.1,"{'latitude': -15.79103, 'longitude': -48.03869}",333786,VOLTA,True,"{'unidade': 'KM_POR_HORA', 'valor': 1.11}",-15.79103,-48.03869
4,4,7531250,37.0,1574373680000,0.882,"{'latitude': -15.89631, 'longitude': -48.04774}",332054,IDA,True,"{'unidade': 'KM_POR_HORA', 'valor': 0}",-15.89631,-48.04774